{% extends 'base.html.twig' %}

{% block title %}Hello UsersController!{% endblock %}

{% block body %}
<main role="main">

    <div class="container-fluid bg-light p-5 my-5">
        <div class="container mx-auto pt-5 rounded">
            <h1 class="display-3 mb-5">{{controller_name}}</h1>

            {% if not is_granted('ROLE_USER') %}
            <p>Pour visualiser la liste des inscrits merci de
                <a href="{{path('app_login')}}">vous identifier</a>
            </p>
            {% endif %}


            {% if is_granted('ROLE_USER') %}


            {{ form_start(formSearch, {'attr': {'id': 'julie'}}) }}


            <div id="mySearch" class="d-flex align-items-center bg-light py-5 rounded w-50">
                {{ form_widget(formSearch.name, {'attr': {'class': 'form-control'}}) }} <span class="mx-3"> OU </span>
                {{ form_widget(formSearch.tel, {'attr': {'class': 'form-control'}}) }}
                {{ form_widget(formSearch.activer, {'attr': {'class': 'form-control btn btn-primary w-25 ms-2'}}) }}
            </div>
            {{ form_end(formSearch) }}


            <div class="row p-2">
                {% for user in users %}
                <div class="card col-sm-4 p-0">
                    <div class="card-header">Utilisateur {{user.id}}</div>
                    <div class="card-body">
                        <h5>Nom : {{user.lastName}}</h5>
                        {% if user.firstName %}
                        <p>Prénom : {{user.firstName}}</p>
                        {% endif %}
                        <p class="h6">Tel : {{user.tel}}</p>
                        <p>Email : {{user.email}}</p>
                        <a href="{{path('user_show',{'id':user.id})}}" class="btn btn-primary">Détails</a>
                    </div>

                </div>
                {%endfor%}


            </div>
            <div>
                {{ knp_pagination_render(users, 'base/pagination.html.twig' ) }}
            </div>
        </div>
        {% endif %}

    </div>


</main>


<script>

    var btn = document.querySelector('#property_search_activer');
    var inputSearch = document.querySelectorAll('input');
    console.log("type", typeof (inputSearch));
    console.log(btn);
    var inputSearchEmpty = 0;
    for (input of inputSearch) {
        input.value == "" ? inputSearchEmpty++ : input.classList.add('bg-light');
    }

    console.log(inputSearchEmpty);
    // impeccable !
    // inputSearchEmpty = 2 ? alert("vide") : inputSearchEmpty;   
    if (inputSearchEmpty != 2) {
        const btn = document.createElement("button");
        btn.className = "btn btn-warning ms-2"
        btn.textContent = "Reset";
        // btn.addEventListener("click", () => alert("cliqué !!!"));
        document.getElementById("mySearch").appendChild(btn);
        btn.addEventListener("click",function (event) {
        event.preventDefault();
        for (i of inputSearch){
            i.value=""
        }
        document.getElementById("julie").submit();
    });
    }



    // impeccable ! 
    // function myFunction() {
    //     const btn = document.createElement("button");
    //     btn.className = "btn btn-light ms-2"
    //     btn.textContent = "reset";
    //     btn.addEventListener("click", () => alert("cliqué"));
    //     document.getElementById("mySearch").appendChild(btn);
    // }

    // console.log(inputSearchEmpty);
    // btn.addEventListener("click", function (event) {
    //     event.preventDefault();
    //     console.log("cliqué");
    //     btn.classList.remove("btn-primary")
    //     btn.classList.add("btn-success")
    // });


// btn.classList.remove("btn-primary")
// btn.classList.add("btn-success")

</script>
{% endblock %}